@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    height: 100vh;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
}

.primary {
    background-color: #00bfff;
}

.primary:hover {
    background-color: #00bfff96
}

.primary:disabled {
    background-color: rgb(42, 89, 138);
    cursor: not-allowed;
}

.info {
    background-color: rgba(255, 255, 255, .5);
}

.info:hover {
    background-color: #6b6d71;
}
